/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-U1Ug.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-size: 16px;
  padding: 1% 2%;
}
.navdiv {
  display: flex;
  justify-content: flex-end;
}
.navdiv nav {
  display: flex;
  justify-content: space-between;
  width: 40%;
  font-family: Open-Sans, Sans-serif;
  font-size: 1.5rem;
}
.herodiv {
  display: flex;
  justify-content: center;
}
hr {
  width: 100%;
  border-top: 0.5px solid gray;
}
h1 {
  font-size: 3rem;
  font-family: Open-Sans, Sans-serif;
}
h2 {
  font-size: 2.5rem;
  font-family: Open-Sans, Sans-serif;
}
h3 {
  font-size: 2rem;
  font-family: Open-Sans, Sans-serif;
}
p {
  font-size: 1rem;
  font-family: Roboto, Sans-serif;
}
.hero {
  display: flex;
  align-items: flex-start;
  width: 100%;
  flex-direction: column;
  background-color: #E9ECEF;
  box-shadow: 2px 2px #FAFAFB;
  border-radius: 4px;
  margin-top: 2%;
  padding: 2%;
}
.hero button {
  font-size: 1rem;
  background: 1px black solid;
  background-color: #808080;
  color: white;
  padding: 0.75%;
  border-radius: 5px;
  margin-top: 1%;
}
.hero img {
  width: 40%;
  margin-top: 1%;
}
.hero h1 {
  margin-top: 1%;
}
.hero h3 {
  margin-top: 1%;
  margin-bottom: 1%;
  font-size: 1.5rem;
}
.hero hr {
  margin-bottom: 1%;
}
.maincontainer {
  margin-top: 2%;
  display: flex;
  flex-direction: row;
}
.maincontainer div {
  display: flex;
  flex-direction: column;
  margin-bottom: 2%;
}
.maincontainer div a {
  border: 1px solid black;
  margin: 0.5% 0 0 0;
}
.listen {
  width: 50%;
}
.history {
  width: 100%;
  margin: 2% 0;
  text-align: center;
}
.history tr:nth-child(even) {
  background-color: lightgray;
}
footer {
  background-color: gray;
  padding: 2% 0;
  text-align: center;
}
footer a {
  color: white;
}
a {
  text-decoration: none;
  color: black;
}
.divskills {
  width: 60%;
}
.divskills h3 {
  margin-bottom: 1%;
}
.skills tr {
  border: 1px solid lightgray;
}
.skills td {
  padding: 2%;
  font-size: 1rem;
}
